input::placeholder{
	color: $lightgrey;
}

.form {
	border: 20px solid #97d1eb; 
	padding: 50px; 
	position: relative; 
	margin-bottom: 100px;
	max-height: calc(100vh - 110px);
	@media screen and (max-width: 992px) {
		padding: 20px;
	}
	&__col {
		width: 50%; 
		display: inline-block;
		@media screen and (max-width: 992px) {
			width: 100%;
		}
	}
	&__photo{
		position: absolute;
		float: right; 
		min-height: 760px;
		width: 45%; 
		top: -50px; 
		right: 0;
		background-image: url('../../images/form__photo.jpg'); 
		background-repeat: no-repeat; 
		z-index: -700;
		overflow: hidden;
		@media screen and (max-width: 992px) {
			display: none;
		}
	}
	&__input {
		border: 0; 
		border-bottom: 1px solid #eee; 
		padding: 10px 20px 10px 0; 
		font-weight: bold; 
		font-family: 'Raleway'; 
		font-size: 30px;
		margin-bottom: 30px;
	}
	&__tab{
		color: $grey;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-right: 40px;
		font-weight: bold;
		margin-bottom: 50px;
		display: inline-block;
		padding-bottom: 10px;
		border-bottom: 1px solid transparent;
		font-size: 16px;
		&:hover {
			cursor: pointer;
			color: $blue;
			padding-bottom: 10px;
			border-bottom: 1px solid $blue;
		}
		@media screen and (max-width: 992px) {
			margin: 0 10px 0 0;
		}
	}
	&__button {
		color: #000;
		letter-spacing: 5px;
		background: #fff; 
		outline: 0; 
		border: 1px solid lightgrey; 
		text-transform: uppercase; 
		padding: 10px;
		width: 30%;
		margin: 0 auto;
	}
}